<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href="/public/lib/bootstrap/css/bootstrap.css">
    <title>留言列表</title>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Example page header <small>Subtext for header</small></h1>
            <a type="button" class="btn btn-success" href="/post">发表留言</a>
        </div>
        <ul class="list-group">
            
            {{each comments}}
            <li class="list-group-item">{{$value.name}}说：{{$value.message}}
                <span class="pull-right">{{$value.dateTime}}</span>
            </li>
            {{/each}}

          </ul>
    </div>
</body> 
</html>