<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
    <link rel='stylesheet' href="/public/lib/bootstrap/css/bootstrap.css">
    <style>
        h1{
            text-align: center;
            margin:200px;
        }
    </style>
</head>

<body>
    <div class='container'>
        <h1>404 您访问的页面不存在</h1>
    </div>
</body>

</html>